<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        {% for label in config.options.columns %}
            <th>{{ label|trans }}</th>
        {% endfor %}
        <th>{{ "crud.index.column.actions"|trans({}, 'CtrlRadBundle') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
    <tr>
        {% for prop, label in config.options.columns %}
        <td>
            {% include "CtrlRadBundle:partial:_value_render.html.twig" with { config: prop, parent: entity } only %}
        </td>
        {% endfor %}
        <td>
            {% spaceless %}
                <div class="btn-group">
                {% for action in config.options.actions %}
                    <a href="{{ action.route|call(entity) }}" class="btn btn-primary btn-sm {{ action.class }}">
                        {% if action.class %}<i class="fa fa-{{ action.icon }} fa-fw"></i>{% endif %}
                        {{ action.label|trans }}
                    </a>
                {% endfor %}
                </div>
            {% endspaceless %}
        </td>
    </tr>
    {% else %}
        <tr>
            <td colspan="8">No {{ config.options.entity_label|trans }} found</td>
        </tr>
    {% endfor %}
    </tbody>
    {% if paginator.pageCount > 1 %}
    <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                {{ pagination(paginator, app.request) }}
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
